.layout {
    max-width: 1920px;
    margin: 0 auto;
    height: 100vh;
    background-color: #e9e9e9; 
  }
  
.main { 
  height: 100% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: #e9e9e9; 
  align-items: center;
}

.withsidebar {
  margin-left: 240px; 
  height: 100% auto;
}                             

@media (max-width: 768px) {
  .withsidebar {
    margin-left: 60px; 
    height: 100% auto;
  }
}