.mainicon {
    margin: 70px 0;
    width: 192px;
    height: 192px;
}

h1 {
    display: none;
}

h2 {
    font-size: xx-large;
    margin: 15px 0;
}

.textcontainer {
    margin: 0 0 70px 0;
    text-align: center;
}

.gobackbutton {
    --bg: #d25d5d;
    --text-color: #fff;
    position: relative;
    width: 150px;
    height: 50px;
    border: none;
    background: var(--bg);
    color: var(--text-color);
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
}