.sidebar {
  position: absolute;
  height: 100%;
  width: 240px;
  left: -240px; /* 사이드바를 왼쪽으로 숨김 */
  /*padding: 1rem;*/
  background-color: #b0b0b0;
  border-right: 1px rgb(104, 104, 104) solid;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  transition: left 0.35s; /* left 속성 변경 시 애니메이션 적용 */
  z-index: 1; /* 다른 요소들 위에 표시되도록 설정 */
}

.sidebar.open {
  left: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.frame {
  width: 100%;
  padding-top: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: inline-flex;
}

.folder,
.search,
.information {
  margin-left: 15px;
  width: 50px;
  height: 50px;
}

.menucontainer{
  display: flex;
  align-items: center;
  position: relative; /* 부모 요소 기준으로 위치 지정 */
  z-index: 1; /* 다른 요소들 위에 위치하도록 설정 */
}
.menucontainer:hover {
  cursor: pointer; /* 마우스 커서를 포인터로 변경 */
  opacity: 0.3;
}
.menucontainer > * {
  margin-right: 10px; /* 모든 자식 요소들의 오른쪽에 10px 마진 설정 */
}

/*media queury 기준*/
@media (max-width: 768px) {
  .sidebar {
    width: 60px;
    background-color: #b0b0b0;
  }

  .frame {
    justify-content: space-around;
    align-items: center;
    gap: 15px; /* 요소 사이 간격 조정 */
  }
  
  .folder,
  .search,
  .information {
    margin-left: 10px;
    width: 40px; /* 작은 이미지 크기로 조정 */
    height: 40px;
  }
}