.view_panel {
  min-width: 360px;
  width: 100%;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #efefef;
}

.view_panel_header {
  margin-bottom: 20px;
}

.storage_number {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.expiration_date {
  font-size: 1rem;
  color: #666;
}

.button_container {
  margin-bottom: 20px;
}

.action_button {
  margin-right: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.action_button:hover {
  background-color: #0056b3;
}

.file_list_table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.file_list_table th,
.file_list_table td {
  border: 1px solid #707070;
  padding: 10px;
  border: none;
}

.file_list_table th {
  background-color: #d6d6d6;
}

.file_upload_label {
  padding: 10px;
  border: 1px solid #707070;
  border-radius: 8px;
  display: block;
  width: 100%;
}

.file_upload_input {
  display: none;
}

.file_upload_label::before {
  content: 'Choose File';
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.file_upload_label:hover::before {
  background-color: #0056b3;
}

@media screen and (max-width: 480px) {
  /* .file_list_table th:nth-child(2),
  .file_list_table td:nth-child(2), */
  .file_list_table th:nth-child(5),
  .file_list_table td:nth-child(5) {
    display: none; /* name과 size 정보 숨기기 */
  }
}