.view_panel {
  min-width: 300px;
  width: 100%;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #efefef;
}

.view_panel_header {
  margin-bottom: 20px;
}

.storage_number {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.expiration_date {
  font-size: 1rem;
  color: #666;
}

.button_container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  
}

.download_button {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 80px;
  height: 40px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.download_button span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  box-shadow: 2px 2px 4px 0 rgba(255, 255, 255, .5),
    -2px -2px 4px 0 rgba(116, 125, 136, .5),
    inset -2px -2px 4px 0 rgba(255, 255, 255, .2),
    inset 2px 2px 4px 0 rgba(0, 0, 0, .4);
  border-radius: 15px;
  color: #000000;
  z-index: 1;
  transition: .6s;
}

.download_button:hover span {
  color: #fff;
  background: #555555;
}

.delete_button {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 80px;
  height: 40px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.delete_button span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  box-shadow: 2px 2px 4px 0 rgba(255, 255, 255, .5),
    -2px -2px 4px 0 rgba(116, 125, 136, .5),
    inset -2px -2px 4px 0 rgba(255, 255, 255, .2),
    inset 2px 2px 4px 0 rgba(0, 0, 0, .4);
  border-radius: 15px;
  color: #ff0000;
  z-index: 1;
  transition: .6s;
}

.delete_button:hover span {
  color: #fff;
  background: #ff0000;
}

.refresh_button {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 80px;
  height: 40px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.refresh_button span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  box-shadow: 2px 2px 4px 0 rgba(255, 255, 255, .5),
    -2px -2px 4px 0 rgba(116, 125, 136, .5),
    inset -2px -2px 4px 0 rgba(255, 255, 255, .2),
    inset 2px 2px 4px 0 rgba(0, 0, 0, .4);
  border-radius: 15px;
  color: #222be3;
  z-index: 1;
  transition: .6s;
}

.refresh_button:hover span {
  color: #fff;
  background: #222be3;
}

.file_list_table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.file_list_table th,
.file_list_table td {
  border: 1px solid #707070;
  padding: 10px;
  border: none;
}

.file_list_table th {
  background-color: #d6d6d6;
}

.file_upload_label {
  padding: 10px;
  border: 1px solid #707070;
  border-radius: 8px;
  display: block;
  width: 100%;
}

.file_upload_input {
  display: none;
}

.file_upload_label::before {
  content: 'Choose File';
  display: inline-block;
  padding: 8px 16px;
  background-color: #d25d5d;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.file_upload_label:hover::before {
  background-color: #a34747;
}

@media screen and (max-width: 480px) {

  .file_list_table th:nth-child(2),
  .file_list_table td:nth-child(2),
  .file_list_table th:nth-child(5),
  .file_list_table td:nth-child(5) {
    display: none;
    /* name과 file size 정보 숨기기 */
  }
}

/* FileListTableBody.tsx */
.loadingCell {
  text-align: center;
}

.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #f0808050;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #f08080;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}